p {  
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}


.wrapper {
   margin:15px;
   padding: 15px;
}

.form.wrapper {
   margin:15px;
   padding: 15px;
   margin-left:auto;
   margin-right:auto;
}

h1, h2 {
  margin: 15px;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  color: #000;
}


table.output {
  background-color:transparent;
}


td {
  padding:10px;
}

