.content {
  padding:15px;
   margin:15px;
}

#form, #form table, #terms table, #schedule table {
  margin:15px;
  padding:15px;
}

#confirmation, #warnings, #subscribe {
    margin:15px;
    padding:15px;
} 

#confirmation p, #subscribe p {
   text-align: center;
}

#warnings p {
  color: red;
}

#form td input[type=text] {
  border: 1px solid #999;
  border-radius: 2px;
  padding: 5px;
}
 
#form td input[type=radio] {  
  margin-bottom: 5px;   
}
 
 
#form td select {  
  margin-bottom: 5px;
   padding: 5px;
}


#form td input[type=checkbox] {  
  margin-bottom: 5px;
}

#form td {
  padding: 5px 30px;
}





#schedule table, #terms table {
  margin-right:auto;
  margin-left:auto; 
}

#schedule th,  #terms th {
  padding: 0px 10px;
}

#schedule td, #terms td{
  padding: 0px 10px;
  text-align: center;
}
