

	table{
       margin-top:35px;
       margin-bottom:15px;
 	   table-layout:fixed;
	   border-collapse: collapse;
	   margin-left:auto;
	   margin-right:auto;
    }

	#results {
           width:700px;	
           margin-left:auto;
           margin-right:auto;
          
	}
	table.edit {
		width: 150px;
	}
	table.edit, table.edit td{
	   margin-left:15%;
	   margin-top:5px;   
	   padding: 5px;
	   background-color:transparent;
	}
    td, th{ 	   
       padding: 5px 35px;           
       text-align:left;           
       border: none;
    }
       
	.table.wrapper {
		margin-right: auto;
		margin-left:auto;
	}
    th {
      background-color:gray;
      width:35%;
    }
          
    td {
       background-color:tan;           
    }

    p {
     width:80%;
     word-wrap:word-break;
	  margin-top: 5px;
     margin-left: auto;
     margin-right:auto;
     padding:5px;
    }

	#error {
	   color: red;
	   background-color:white;
	   width:50%;
	   margin-left: auto;
       margin-right: auto;
	 }  
