body {
  background-image: url("../images/ricepaper_v3.png");
  margin:15px;
}

h1, h2 {
  margin: 15px;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  color: #000;
}

ul {
  padding:5px;
  margin-left: 15px;
  list-style-type: square;	
}

p {  
   font-family: "Times New Roman", Georgia, Serif;
   color:#000;
   width: 85%;
   padding:5px;
   margin-top: 5px;
   margin-left: auto;
   margin-right:auto;
}

table {
  background-color:white;
}


td {
  padding:10px;
}

a:hover{
  font-style:italic;
  font-size:115%;
  color:orange;
}

img {
  margin:0px 15px 0px 0px;
}
.wrapper {
   margin:15px;
   padding: 15px;
}


.content {
  padding:15px 0px;
}
